
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FDFCDC;
    font-family: 'Righteous', cursive;
    width: 100%;
    height: 100%;
}


header {

    background: #B62717;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 13vh;
    color: #FDFCDC;
    display: flex;
    justify-content: center;
    align-items: center;
}


.RectangleRouge {

    position: relative;
    width: 85%;
    height: 75%;
    background: linear-gradient(90deg, rgba(182, 39, 23, 0.275) -1.06%, rgba(135, 34, 23, 0.5) 82.98%), rgba(182, 39, 23, 0.83);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 49px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.titre{
    display: flex;
    justify-content: center;
    align-items: center;
}

svg#Capa_1{
    width: 60px;
    fill: #FDFCDC;
}

.mangatitle{
    font-size: 45px;
    margin-left: 5%;
}

/* .titre {
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 35px;
    font-family: 'Righteous', cursive, sans-serif;
} */


.bar{
    background: #FDFCDC;
    width: 4.5%;
    height: 4%;
    transform: rotate(125deg);
    border-radius: 30%;
}

.navigation {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
}


.CadreSearch {
    width: 150px;
    height: 35px;
    background: #FDFCDC;
    border-radius: 32px;
    align-items: center;
    justify-content: flex-start;
    color: rgba(182, 39, 23, 0.45);
}

.CadreSearch:hover{
    width: 150px;
    height: 35px;
    background: #FDFCDC;
    border-radius: 32px;
    align-items: center;
    justify-content: flex-start;
    color: #FDFCDC;
}

.CadreSearch i{
    margin-left: 7%;
    margin-right: 20%;
}

.Carré1 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 900px;
    height: 400px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 27px;
}

.PetitRectangle {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FDFCDC;
    font-size: 25px;
    position: absolute;
    top: 21%;
    left: 22%;
    width: 260px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #B62717;
    border-radius: 18px
}

.CarréDeux {
    position: absolute;
    top: 100%;
    left: 25%;
    width: 900px;
    height: 400px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 27px;
}

.PetitRectangleDeux {
    position: absolute;
    left: 22%;
    top: 96%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: #FDFCDC;
    font-size: 25px;
    width: 260px;
    height: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #B62717;
    border-radius: 18px
}

footer {
    background: #B62717;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 13vh;
    color: #FDFCDC;
    display: flex;
}